<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SimEpidemic</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AB088BB74D916AAD4A8028966E85AB1E071AFB3F</string>
				<key>dateExpires</key>
				<string>2025/06/02</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SimEpidemic.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>726X5Z9867</string>
				<key>name</key>
				<string>Tatsuo Unemi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
