<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja_JP</string>
	<key>CFBundleIdentifier</key>
	<string>jp.ac.soka.unemi.SimEpidemic.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SimEpidemic</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookIconPath</key>
	<string>SimEpidemicAppIcon128.png</string>
	<key>HPDBookIndexPath</key>
	<string>SimEpidemic.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>SimEpidemic</string>
	<key>HPDBookKBURL</key>
	<string>http://www.intlab.soka.ac.jp/~unemi/SimEpidemic1/info/</string>
	<key>HPDBookTitle</key>
	<string>SimEpidemic Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
